@font-face {
  font-family: 'Inter-fallback';
  size-adjust: 104%;
  src: local('Helvetica');
}
@font-face {
  font-family: 'Poppins-fallback';
  size-adjust: 93%;
  src: local('Helvetica');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
  line-height: 1.5;
}
@media (max-width: 1023px) {
  html {
    font-size: 0.75rem;
  }
}
body {
  font-family: 'Poppins', 'Poppins-fallback';
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', 'Inter-fallback';
}
p,
li,
div {
  font-size: 1.625rem;
  line-height: 1.77;
  letter-spacing: -0.01em;
}
button {
  font: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.semi-bold {
  font-weight: 600;
}
.underline {
  text-decoration: underline;
}
.text-green {
  color: #26bc30;
}
strong,
.bold {
  font-weight: 700;
}
/* Intro Section */
.intro {
  text-align: center;
  padding-bottom: 80px;
  border-bottom: 2px solid #82ca80;
}
.header__title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.75rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1.25;
  color: white;
  background-color: #1b2c4e;
  padding: 1.125rem 0 1.5625rem;
  border-bottom: 0.375rem solid #82ca80;
  text-align: center;
}
.main {
  padding: 0 6.8125rem;
  max-width: 1440px;
  margin: 0 auto;
}

.intro__badge {
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 0.47rem 1.75rem;
  color: white;
  background-color: #da6156;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: 80px;
}
.intro__headline {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 20px;
}
.intro__subheadline,
.intro__text {
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: 28px;
  margin-left: -30px;
}
.intro__text {
  margin-top: 40px;
}
.video__wrapper {
  position: relative;
  margin-top: 60px;
  line-height: 0;
}
.video__wrapper video {
  width: 100%;
  height: auto;
  border: 8px solid #82ca80;
  border-radius: 25px;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  line-height: 0;
  border: 0;
  background-color: transparent;
}
#playBtn.hide {
  display: none;
}
.cta {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: #82ca80;
  color: black;
  padding: 1.5rem 2.4rem 2.4rem;
  border-radius: 0.75rem;
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.25) inset;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
  letter-spacing: 0.033em;
}
/* timer */
.intro__timer {
  text-align: center;
  margin-top: 52px;
}

.intro__timer-title {
  font-size: 1.5625rem;
  line-height: 2.88;
}

.intro__countdown {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 11px;
  border-radius: 18px;
  border: 2px dashed #40bc3c;
  margin-top: 4px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.intro__block {
  text-align: center;
  border-radius: 12px;
  border: 1px solid #40bc3c;
  min-width: 138px;
}

.intro__number {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #40bc3c;
  border-radius: 12px 12px 0 0;
  margin-top: -1px;
  display: block;
  padding: 5px 14px;
}

.intro__label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  display: block;
  padding: 4px 0 10px;
  text-transform: uppercase;
}
/* Media Queries */
/* @media (max-width: 1024px) {
  .intro__headline {
    font-size: 1.5rem;
  }

  .intro__text {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  .timer__countdown {
    flex-direction: column;
  }
} */
/* ==================== Facts Section =================== */
.facts {
  max-width: 1150px;
}

.facts__content {
  margin-top: 65px;
}

.facts__heading {
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 1.2;
  max-width: 1100px;
  letter-spacing: 0.02em;
}

.facts__list {
  list-style: none;
  padding: 0;
  margin-top: 38px;
  margin-left: -14px;
  max-width: 1120px;
}

.facts__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.facts__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #40bc3c;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 1.875rem;
}

.facts__note {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.94;
  letter-spacing: 0.02em;
  margin-top: 22px;
}
.facts__description {
  margin-top: 20px;
}
.facts__offer {
  margin-top: 22px;
}

.facts__offer-list {
  padding-left: 38px;
  margin-top: 22px;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .facts {
    padding: 1.5rem;
  }

  .facts__heading {
    font-size: 1.5rem;
  }

  .facts__item-number {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .facts__item-text,
  .facts__note,
  .facts__description,
  .facts__offer,
  .facts__offer-item {
    font-size: 0.9rem;
  }
} */
/*============================= How section ========================= */
.how-section {
  margin-top: 60px;
}

.how-section__heading {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.how-section__subheading {
  font-size: 3.25rem;
  line-height: 1.19;
  color: #2367c0;
  text-align: center;
  max-width: 900px;
  letter-spacing: 0.02em;
  margin-top: 8px;
  margin: 8px auto 0;
}

.how-section__intro {
  text-align: center;
  margin-top: 26px;
}
.how-section__content-wrapper {
  display: flex;
  align-items: center;
  gap: 72px;
  justify-content: space-between;
  margin-top: 52px;
}
.how-section__content {
  flex: 1.5;
}
.how-section__img {
  flex: 1;
  margin-bottom: 8%;
}
.how-section__description {
  text-decoration: underline;
}

.how-section__list {
  padding-left: 2.25rem;
  margin-top: 24px;
}
.how-section__note,
.how-section__additional,
.how-section__comparison {
  margin-top: 24px;
}

.how-section__benefits {
  padding: 48px 50px 55px;
  margin-top: 55px;
  border: 2px solid #82ca80;
  border-radius: 25px;
  background-color: #f4fbf3;
}

.how-section__benefits-list {
  list-style: none;
  padding: 0;
}

.how-section__benefit-item {
  color: #00796b;
  margin-bottom: 22px;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.how-section__benefit-item:last-child {
  margin-bottom: 0;
}
.how-section__benefit-item::before {
  content: '';
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('../images/check-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.how-section__conclusion {
  font-weight: 600;
  margin-top: 48px;
  text-decoration: underline;
}

.how-section__average-time,
.how-section__rights,
.how-section__source-code {
  margin-top: 22px;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .how-section {
    padding: 1.5rem;
  }

  .how-section__heading {
    font-size: 1.6rem;
  }

  .how-section__subheading {
    font-size: 1.4rem;
  }

  .how-section__intro,
  .how-section__description,
  .how-section__list-item,
  .how-section__note,
  .how-section__additional,
  .how-section__comparison,
  .how-section__benefits-list,
  .how-section__benefit-item {
    font-size: 1rem;
  }

} */
/* =================== Investment Section ================= */
.investment-section {
  margin-top: 62px;
}

.investment-section__heading {
  font-size: 3.25rem;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 1000px;
  margin: 0 auto;
}

.investment-section__highlight {
  color: #80c754;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.investment-section__subheading {
  text-align: center;
  margin-top: 12px;
  margin-left: 12px;
}

.investment-section__emphasis {
  font-weight: bold;
  text-decoration: underline;
}

.investment-section__cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 76px;
}

.investment-section__card {
  flex: 1;
  border-radius: 25px;
  border: 2px solid #82ca80;
}

.investment-section__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.investment-section__image--1 {
  margin-top: 6px;
  margin-bottom: 8px;
}
.investment-section__image--2 {
  margin-top: -2px;
}
.investment-section__card__content {
  padding: 4px 46px 50px;
}
.investment-section__card-text,
.investment-section__list li {
  font-size: 1.25rem;
  line-height: 1.55;
}
.investment-section__list li::marker {
  font-size: 0.85rem;
}

.investment-section__card-text {
  margin-top: 22px;
}

.investment-section__list {
  list-style: disc;
  padding-left: 1.5rem;
  margin-top: 22px;
}

.investment-section__list li {
  padding-inline-start: 4px;
}

.investment-section__cta {
  margin-top: 76px;
}
.investment-section__cta .cta {
  padding: 1.35rem 2.9rem 2rem;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .investment-section__cards {
    flex-direction: column;
  }

  .investment-section__card {
    margin-bottom: 2rem;
  }
} */
/* ========================= Streams Section ========================= */
.streams {
  margin-top: 52px;
}
.streams__title {
  font-size: 3.5rem;
  line-height: 1.1;
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.01em;
}

.streams__highlight {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.83;
  letter-spacing: -0.01em;
  background: #f0d476;
  text-align: center;
  width: fit-content;
  margin: 12px auto 0;
  padding: 0 1.375rem;
}

.streams__content {
  margin-top: 92px;
}

.streams__text {
}
.streams__text p {
  margin-top: 22px;
}
.streams__text .highlight {
  background-color: #ffd54a;
}
.streams__image {
  float: right;
  margin-top: 17px;
  margin-left: 20px;
  border-radius: 1.5625rem;
  max-width: 50%;
}

@media (max-width: 768px) {
}

/* ======================== Mastermind Section ========================*/
.mastermind {
  margin-top: 65px;
}

.mastermind__title {
  text-align: center;
  font-size: 3.25rem;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.mastermind__content {
  margin-top: 50px;
}
.mastermind__content p {
  margin-top: 22px;
}
.mastermind__image {
  border-radius: 25px;
  border: 2px solid #9a9de1;
  background: #f0eeff;
  float: right;
  max-width: 50%;
  margin-left: 36px;
  padding: 96px 42px 122px;
  margin-top: 14px;
}
p.mastermind__text--lh {
  margin-top: 14px;
  line-height: 2.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mastermind__content {
  }
}
/* =================== Pricing ================ */
/* Pricing Section */
.pricing {
  color: #fff;
  position: relative;
  padding-top: 68px;
  padding-bottom: 148px;
  margin-top: 100px;
}
.pricing::before {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #1b2c4e;
  z-index: -1;
}

.pricing__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__title-highlight {
  color: #82ca80;
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.08em;
}

.pricing__arrows {
  display: flex;
  gap: 17px;
  justify-content: center;
  margin-top: 26px;
}

.pricing__arrow {
  font-size: 20px;
  display: block;
}

.pricing__cards {
  display: flex;
  justify-content: center;
  gap: 34px;
  margin-top: 30px;
}

.pricing__card {
  background: #233354;
  border: 2px solid #6ce08e;
  border-radius: 25px;
  padding: 36px 44px 18px;
  text-align: left;
  max-width: 534px;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.pricing__card--veteran {
  position: relative;
}
.pricing__card--veteran::before {
  content: '';
  display: block;
  inset: -2px;
  position: absolute;
  border-radius: 25px;
  border: 2px solid #82ca80;
  background: rgba(226, 226, 226, 0.2);
  pointer-events: none;
}

.pricing__card-title {
  font-size: 1.875rem;
  line-height: 1.23;
  letter-spacing: 0.02em;
  border-bottom: 3px solid white;
  padding-bottom: 15px;
}

.pricing__features {
  list-style: none;
  padding: 0;
  margin-top: 18px;
  margin-left: -6px;
}
.pricing__feature::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../images/check-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing__feature {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 8px;
  letter-spacing: 0;
  margin-bottom: 12px;
}
.pricing__kit {
  margin-top: 22px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 26px;
  margin-bottom: 4px;
}
.pricing__kit-btn {
  font-size: 1.25rem;
  line-height: 1;
  background: #2367c0;
  padding: 1.1875rem;
  text-align: center;
  border-radius: 7px;
  margin-top: 15px;
}
.pricing__kit-title,
.pricing__kit-subtitle,
.pricing__kit-cta {
  font-size: 1.375rem;
  line-height: 1.32;
  letter-spacing: 0.01em;
}

.pricing__kit-subtitle {
  color: #6cff8d;
  margin-top: 10px;
}
.pricing__kit-subtitle .text-yellow {
  color: #ffd27d;
}
.pricing__kit-desc {
  font-size: 1rem;
  margin-top: 12px;
  line-height: 1.625;
}
.pricing__kit-cta {
  margin-top: 28px;
  margin-bottom: 18px;
}

.pricing__price-box {
  text-align: center;
  border-radius: 13px;
  background: #000;
  z-index: 2;
  padding: 22px;
  margin-top: auto;
  margin-left: -23px;
  margin-right: -23px;
}

.pricing__price-normal {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 2.05;
  letter-spacing: 0.01em;
}

.pricing__price-normal-value {
  text-decoration: line-through;
}

.pricing__price {
  font-family: 'Inter', sans-serif;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
}

.pricing__price-highlight {
  color: #82ca80;
  font-weight: 900;
  padding-left: 5px;
}

.pricing__payment-info {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 16px;
  letter-spacing: 0.01em;
}

.pricing__btn {
  color: white;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  background: #82ca80;
  font-size: 1.77238rem;
  padding: 1.2rem 1rem 0.93em;
  letter-spacing: 0.02em;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  margin-top: 22px;
  box-shadow: 0px -8.507px 0px 0px rgba(0, 0, 0, 0.25) inset;
  width: 100%;
}

.pricing__payment-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}
.pricing__payment-options,
.pricing__payment-notes {
  background-color: white;
  border-radius: 6px;
  line-height: 1;
}
.pricing__payment-options {
  display: flex;
  flex: 1.55;
  align-items: center;
  justify-content: space-evenly;
}
.pricing__payment-notes {
  display: flex;
  flex: 1;
  gap: 15px;
  text-align: left;
  padding: 8.5px 8px 6px;
}
.pricing__payment-note {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
}
.pricing__payment-note img {
  flex-shrink: 0;
  margin-right: 4.5px;
}

@media (max-width: 768px) {
  .pricing__cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing__card {
    width: 100%;
    max-width: 400px;
  }
}
/*================= Guarantee ==============*/
.guarantee {
  background: #f4fbf3;
  border: 2px solid #82ca80;
  border-radius: 25px;
  margin-top: 112px;
}
.guarantee__container {
  display: flex;
  justify-content: space-between;
}
.guarantee__text {
  padding: 42px 20px 42px 52px;
}
.guarantee__title {
  font-size: 3.25rem;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.guarantee__description {
  font-size: 1.125rem;
  line-height: 1.61;
  margin-top: 22px;
  letter-spacing: 0;
}
.guarantee__badge {
  flex-shrink: 0;
}
.guarantee__badge-image {
  margin-top: -16px;
  margin-bottom: -32px;
  position: relative;
  right: -23px;
}
@media (max-width: 768px) {
  /* .guarantee__container {
    flex-direction: column;
    text-align: center;
  }

  .guarantee__badge {
    margin-top: 20px;
  } */
}
/*================= Advantage ==============*/
.advantage {
  margin-top: 70px;
}

.advantage__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 850px;
  margin: 0 auto 60px;
  text-align: center;
}

.advantage__highlight {
  color: #e55757;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
}

.advantage__description {
  margin-top: 20px;
}
/*================= Software Kits Section ==============*/
.software-kits {
  margin-top: 64px;
}

.software-kits__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 950px;
  margin: 0 auto 60px;
  text-align: center;
}

.software-kits__highlight {
  color: #e63c35;
}

.software-kits__description {
  margin-top: 20px;
}

.software-kits__list {
  margin-top: 24px;
  padding-left: 2.1rem;
}
.software-kits__item {
  padding-inline-start: 4px;
  margin-bottom: 4px;
}
.software-kits__item::marker {
  font-size: 1.25rem;
}

.software-kits__cta .cta {
  padding: 1.4rem 2.8rem 2rem;
  margin-top: 102px;
}
/* ============================ Testimonials Section ====================*/
.testimonials {
  margin-top: 102px;
}

.testimonials__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 36px 22px;
  margin-top: 90px;
}

.testimonial {
  border-radius: 15px;
  border: 2px solid #82ca80;
  padding: 30px 26px 40px;
  box-shadow: 0px 30px 57.3px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__quote {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0;
  position: relative;
}

.testimonial__quote::before {
  content: '';
  position: absolute;
  top: -60px;
  left: -2px;
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/fa-solid_quote-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 48px;
  margin-top: auto;
}

.testimonial__rating {
  display: flex;
  gap: 2.5px;
  margin-top: 3px;
}

@media (max-width: 768px) {
  .testimonials__grid {
    grid-template-columns: 1fr;
  }
}
/* ======================== Offer Section ======================= */
.offer {
  text-align: center;
  margin-top: 96px;
  margin-bottom: 144px;
}

.offer__warning {
  color: #fff;
  border-radius: 25px 25px 0px 0px;
  padding: 52px 16px 76px;
  position: relative;
}
.offer__warning-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 25px 25px 0px 0px;
  object-fit: cover;
  object-position: bottom center;
  z-index: -1;
}

.offer__warning-title {
  font-size: 1.125rem;
  line-height: 1.61;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.offer__warning-heading {
  font-size: 2.625rem;
  line-height: 1.1;
  max-width: 700px;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

.offer__cta {
  font-size: 3.25rem;
  line-height: 1.19;
  display: block;
  margin-top: 14px;
}
.offer__cta .green {
  color: #82ca80;
}

.offer__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 42px 30px 56px 40px;
  border-radius: 0px 0px 25px 25px;
  border: 2px solid #82ca80;
  border-top: 0;
  background: #f6fbf3;
}

.offer__content {
  flex: 0 1 55%;
  text-align: left;
}

.offer__image {
  flex: 0 1 42%;
  text-align: center;
}

.offer__image-img {
  max-width: 100%;
  height: auto;
}

.offer__text {
  font-size: 1.125rem;
  line-height: 1.61;
  letter-spacing: 0;
  margin-bottom: 10px;
}
.offer__text:last-child {
  margin-bottom: 0;
}

.offer__actions {
  text-align: center;
}
.offer__actions .cta {
  margin-top: 88px;
  padding: 1.4rem 2.6rem 2rem;
}

.offer__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  display: block;
  margin-top: 52px;
  transition: color 0.3s;
  text-decoration: underline;
  letter-spacing: 0;
  text-decoration-thickness: 0.06em;
  color: #000;
}
@media (max-width: 768px) {
  .offer__details {
    flex-direction: column;
    text-align: center;
  }

  .offer__content {
    padding-right: 0;
    margin-bottom: 20px;
  }
}
