@font-face {
  font-family: 'Inter-fallback';
  size-adjust: 104%;
  src: local('Helvetica');
}
@font-face {
  font-family: 'Poppins-fallback';
  size-adjust: 93%;
  src: local('Helvetica');
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1rem;
  line-height: 1.5;
}

body {
  font-family: 'Poppins', 'Poppins-fallback';
  font-weight: 400;
  font-style: normal;
  color: #000;
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', 'Inter-fallback';
}
p,
li,
div {
  font-size: 1.625rem;
  line-height: 1.77;
  letter-spacing: -0.01em;
}
button {
  font: inherit;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.semi-bold {
  font-weight: 600;
}
.underline {
  text-decoration: underline;
}
.text-green {
  color: #26bc30;
}
strong,
.bold {
  font-weight: 700;
}
/* Intro Section */
.intro {
  text-align: center;
  padding-bottom: 5rem;
  border-bottom: 0.125rem solid #82ca80;
}
.header__title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.75rem;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  letter-spacing: -0.02em;
  line-height: 1.25;
  color: white;
  background-color: #1b2c4e;
  padding: 1.125rem 0 1.5625rem;
  border-bottom: 0.375rem solid #82ca80;
  text-align: center;
}
.main {
  padding: 0 6.8125rem;
  max-width: 1440px;
  margin: 0 auto;
}

.intro__badge {
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 0.47rem 1.75rem;
  color: white;
  background-color: #da6156;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 0.5rem;
  margin-top: 5rem;
}
.intro__headline {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 1.25rem;
}
.intro__subheadline,
.intro__text {
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.02em;
  margin-top: 1.75rem;
}
.intro__text {
  margin-top: 2.5rem;
}
.video__wrapper {
  position: relative;
  margin-top: 3.75rem;
  line-height: 0;
}
.video__wrapper video {
  width: 100%;
  height: auto;
  border: 0.5rem solid #82ca80;
  border-radius: 1.5625rem;
}

.play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
  line-height: 0;
  border: 0;
  background-color: transparent;
}
.play-btn img {
  width: 5.4375rem;
  height: auto;
}
#playBtn.hide {
  display: none;
}
.cta {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  background-color: #82ca80;
  color: black;
  padding: 1.5rem 2.4rem 2.4rem;
  border-radius: 0.75rem;
  box-shadow: 0px -10px 2px 0px rgba(0, 0, 0, 0.25) inset;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4.1875rem;
  letter-spacing: 0.033em;
  text-align: center;
}
.cta img {
  width: 2rem;
  height: 2rem;
}
/* timer */
.intro__timer {
  text-align: center;
  margin-top: 3.25rem;
}

.intro__timer-title {
  font-size: 1.5625rem;
  line-height: 2.88;
}

.intro__countdown {
  font-family: 'Montserrat', sans-serif;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
  padding: 0.6875rem;
  border-radius: 1.125rem;
  border: 0.125rem dashed #40bc3c;
  margin-top: 0.25rem;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.intro__block {
  text-align: center;
  border-radius: 0.75rem;
  border: 1px solid #40bc3c;
  min-width: 8.625rem;
}

.intro__number {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  background-color: #40bc3c;
  border-radius: 0.75rem 0.75rem 0 0;
  margin-top: -1px;
  display: block;
  padding: 0.3125rem 0.875rem;
}

.intro__label {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: normal;
  display: block;
  padding: 0.25rem 0 0.625rem;
  text-transform: uppercase;
}
/* Media Queries */
/* @media (max-width: 1024px) {
  .intro__headline {
    font-size: 1.5rem;
  }

  .intro__text {
    font-size: 0.875rem;
  }
} */

@media (max-width: 768px) {
  /* .timer__countdown {
    flex-direction: column;
  } */
  .cta {
    font-size: 1.4rem;
  }
  .intro__headline {
    font-size: 3.2rem;
  }
}
/* ==================== Facts Section =================== */
.facts {
  max-width: 71.875rem;
}

.facts__content {
  margin-top: 4.0625rem;
}

.facts__heading {
  font-size: 3.25rem;
  font-weight: bold;
  line-height: 1.2;
  max-width: 68.75rem;
  letter-spacing: 0.02em;
}

.facts__list {
  list-style: none;
  padding: 0;
  margin-top: 2.375rem;
  margin-left: -0.875rem;
  max-width: 70rem;
}

.facts__item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.facts__item-number {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  flex-shrink: 0;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #40bc3c;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  margin-right: 1.875rem;
}

.facts__note {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.94;
  letter-spacing: 0.02em;
  margin-top: 1.375rem;
}
.facts__description {
  margin-top: 1.25rem;
}
.facts__offer {
  margin-top: 1.375rem;
}

.facts__offer-list {
  padding-left: 2.375rem;
  margin-top: 1.375rem;
}

/* Responsive styles */
/* @media (max-width: 768px) {
  .facts {
    padding: 1.5rem;
  }

  .facts__heading {
    font-size: 1.5rem;
  }

  .facts__item-number {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .facts__item-text,
  .facts__note,
  .facts__description,
  .facts__offer,
  .facts__offer-item {
    font-size: 0.9rem;
  }
} */
/*============================= How section ========================= */
.how-section {
  margin-top: 3.75rem;
}

.how-section__heading {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
}

.how-section__subheading {
  font-size: 3.25rem;
  line-height: 1.19;
  color: #2367c0;
  text-align: center;
  max-width: 56rem;
  letter-spacing: 0.02em;
  margin-top: 0.5rem;
  margin: 0.5rem auto 0;
}

.how-section__intro {
  text-align: center;
  margin-top: 1.625rem;
}
.how-section__content-wrapper {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  justify-content: space-between;
  margin-top: 3.25rem;
}
.how-section__content {
  flex: 1.5;
}
.how-section__img {
  flex: 1;
  margin-bottom: 8%;
}
.how-section__description {
  text-decoration: underline;
}

.how-section__list {
  padding-left: 2.25rem;
  margin-top: 1.5rem;
}
.how-section__note,
.how-section__additional,
.how-section__comparison {
  margin-top: 1.5rem;
}

.how-section__benefits {
  padding: 3rem 3.125rem 3.4375rem;
  margin-top: 3.5rem;
  border: 0.125rem solid #82ca80;
  border-radius: 1.5625rem;
  background-color: #f4fbf3;
}

.how-section__benefits-list {
  list-style: none;
  padding: 0;
}

.how-section__benefit-item {
  color: #00796b;
  margin-bottom: 1.375rem;
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.how-section__benefit-item:last-child {
  margin-bottom: 0;
}
.how-section__benefit-item::before {
  content: '';
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('../images/check-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.how-section__conclusion {
  font-weight: 600;
  margin-top: 3rem;
  text-decoration: underline;
}

.how-section__average-time,
.how-section__rights,
.how-section__source-code {
  margin-top: 1.375rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* .how-section {
    padding: 1.5rem;
  }

  .how-section__heading {
    font-size: 1.6rem;
  }

  .how-section__subheading {
    font-size: 1.4rem;
  }

  .how-section__intro,
  .how-section__description,
  .how-section__list-item,
  .how-section__note,
  .how-section__additional,
  .how-section__comparison,
  .how-section__benefits-list,
  .how-section__benefit-item {
    font-size: 1rem;
  } */
  .how-section__benefits {
    padding: 2rem 2.125rem 2.4375rem;
  }
  .how-section__img {
    display: none;
  }
}
/* =================== Investment Section ================= */
.investment-section {
  margin-top: 3.875rem;
}

.investment-section__heading {
  font-size: 3.25rem;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 62rem;
  margin: 0 auto;
}

.investment-section__highlight {
  color: #80c754;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.investment-section__subheading {
  text-align: center;
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.investment-section__emphasis {
  font-weight: bold;
  text-decoration: underline;
}

.investment-section__cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 4.75rem;
}

.investment-section__card {
  flex: 1;
  border-radius: 1.5625rem;
  border: 0.125rem solid #82ca80;
}

.investment-section__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.investment-section__image--1 {
  margin-top: 0.375rem;
  margin-bottom: 0.5rem;
}
.investment-section__image--2 {
  margin-top: -2px;
}
.investment-section__card__content {
  padding: 0.25rem 2.875rem 3.125rem;
}
.investment-section__card-text,
.investment-section__list li {
  font-size: 1.25rem;
  line-height: 1.55;
}
.investment-section__list li::marker {
  font-size: 0.85rem;
}

.investment-section__card-text {
  margin-top: 1.375rem;
}

.investment-section__list {
  list-style: disc;
  padding-left: 1.5rem;
  margin-top: 1.375rem;
}

.investment-section__list li {
  padding-inline-start: 0.25rem;
}

.investment-section__cta {
  margin-top: 4.75rem;
}
.investment-section__cta .cta {
  padding: 1.35rem 2.9rem 2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  /* .investment-section__cards {
    flex-direction: column;
  }

  .investment-section__card {
    margin-bottom: 2rem;
  } */
}
@media (max-width: 500px) {
  .investment-section__cards {
    flex-direction: column;
  }
  .investment-section__card-text,
  .investment-section__list li {
    font-size: 1.5rem;
  }
  .investment-section__image--1,
  .investment-section__image--2 {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ========================= Streams Section ========================= */
.streams {
  margin-top: 3.25rem;
}
.streams__title {
  font-size: 3.5rem;
  line-height: 1.1;
  text-align: center;
  max-width: 47rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -0.01em;
}

.streams__highlight {
  font-size: 2.625rem;
  font-weight: 700;
  line-height: 1.83;
  letter-spacing: -0.01em;
  background: #f0d476;
  text-align: center;
  width: fit-content;
  margin: 0.75rem auto 0;
  padding: 0 1.375rem;
}

.streams__content {
  margin-top: 5.75rem;
}

.streams__text {
}
.streams__text p {
  margin-top: 1.375rem;
}
.streams__text .highlight {
  background-color: #ffd54a;
}
.streams__image {
  float: right;
  margin-top: 1.0625rem;
  margin-left: 1.25rem;
  border-radius: 1.5625rem;
  max-width: 50%;
}

@media (max-width: 500px) {
  .streams__highlight {
    font-size: 2.25rem;
  }
}

/* ======================== Mastermind Section ========================*/
.mastermind {
  margin-top: 4.0625rem;
}

.mastermind__title {
  text-align: center;
  font-size: 3.25rem;
  max-width: 44rem;
  margin: 0 auto;
  line-height: 1.19;
  letter-spacing: 0.02em;
}

.mastermind__content {
  margin-top: 3.125rem;
}
.mastermind__content p {
  margin-top: 1.375rem;
}
.mastermind__image {
  border-radius: 1.5625rem;
  border: 0.125rem solid #9a9de1;
  background: #f0eeff;
  float: right;
  max-width: 50%;
  margin-left: 2.25rem;
  padding: 6rem 2.625rem 7.625rem;
  margin-top: 0.875rem;
}
p.mastermind__text--lh {
  margin-top: 0.875rem;
  line-height: 2.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .mastermind__content {
  }
}
/* =================== Pricing ================ */
/* Pricing Section */
.pricing {
  color: #fff;
  position: relative;
  padding-top: 4.25rem;
  padding-bottom: 9.25rem;
  margin-top: 6.25rem;
}
.pricing::before {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #1b2c4e;
  z-index: -1;
}

.pricing__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 44rem;
  margin-left: auto;
  margin-right: auto;
}

.pricing__title-highlight {
  color: #82ca80;
  text-decoration: underline;
  text-underline-offset: 0.22em;
  text-decoration-thickness: 0.08em;
}

.pricing__arrows {
  display: flex;
  gap: 1.0625rem;
  justify-content: center;
  margin-top: 1.625rem;
}

.pricing__arrow {
  font-size: 1.25rem;
  display: block;
}

.pricing__cards {
  display: flex;
  justify-content: center;
  gap: 2.125rem;
  margin-top: 1.875rem;
}

.pricing__card {
  background: #233354;
  border: 0.125rem solid #6ce08e;
  border-radius: 1.5625rem;
  padding: 2.25rem 2.75rem 1.125rem;
  text-align: left;
  max-width: 33.375rem;
  display: flex;
  flex: 1;
  flex-direction: column;
}
.pricing__card--veteran {
  position: relative;
}
.pricing__card--veteran::before {
  content: '';
  display: block;
  inset: -0.125rem;
  position: absolute;
  border-radius: 1.5625rem;
  border: 0.125rem solid #82ca80;
  background: rgba(226, 226, 226, 0.2);
  pointer-events: none;
}

.pricing__card-title {
  font-size: 1.875rem;
  line-height: 1.23;
  letter-spacing: 0.02em;
  border-bottom: 0.1875rem solid white;
  padding-bottom: 0.9375rem;
}

.pricing__features {
  list-style: none;
  padding: 0;
  margin-top: 1.125rem;
  margin-left: -0.375rem;
}
.pricing__feature::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../images/check-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.pricing__feature {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 0;
  margin-bottom: 0.75rem;
}
.pricing__kit {
  margin-top: 1.375rem;
  border-bottom: 0.0625rem solid #e1e1e1;
  padding-bottom: 1.625rem;
  margin-bottom: 0.25rem;
}
.pricing__kit-btn {
  font-size: 1.25rem;
  line-height: 1;
  background: #2367c0;
  padding: 1.1875rem;
  text-align: center;
  border-radius: 0.4375rem;
  margin-top: 0.9375rem;
}
.pricing__kit-title,
.pricing__kit-subtitle,
.pricing__kit-cta {
  font-size: 1.375rem;
  line-height: 1.32;
  letter-spacing: 0.01em;
}

.pricing__kit-subtitle {
  color: #6cff8d;
  margin-top: 0.625rem;
}
.pricing__kit-subtitle .text-yellow {
  color: #ffd27d;
}
.pricing__kit-desc {
  font-size: 1rem;
  margin-top: 0.75rem;
  line-height: 1.625;
}
.pricing__kit-cta {
  margin-top: 1.75rem;
  margin-bottom: 1.125rem;
}

.pricing__price-box {
  text-align: center;
  border-radius: 0.8125rem;
  background: #000;
  z-index: 2;
  padding: 1.375rem;
  margin-top: auto;
  margin-left: -1.4375rem;
  margin-right: -1.4375rem;
}

.pricing__price-normal {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 2.05;
  letter-spacing: 0.01em;
}

.pricing__price-normal-value {
  text-decoration: line-through;
}

.pricing__price {
  font-family: 'Inter', sans-serif;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.02em;
}

.pricing__price-highlight {
  color: #82ca80;
  font-weight: 900;
  padding-left: 0.3125rem;
}

.pricing__payment-info {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  letter-spacing: 0.01em;
}

.pricing__btn {
  color: white;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  background: #82ca80;
  font-size: 1.77238rem;
  padding: 1.2rem 1rem 0.93em;
  letter-spacing: 0.02em;
  border-radius: 0.625rem;
  font-weight: 600;
  text-decoration: none;
  margin-top: 1.375rem;
  box-shadow: 0 -8.5px 0 0 rgba(0, 0, 0, 0.25) inset;
  width: 100%;
}

.pricing__payment-footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.pricing__payment-options,
.pricing__payment-notes {
  background-color: white;
  border-radius: 0.375rem;
  line-height: 1;
}
.pricing__payment-options {
  display: flex;
  flex: 1.55;
  align-items: center;
  justify-content: space-evenly;
}
.pricing__payment-notes {
  display: flex;
  flex: 1;
  gap: 0.9375rem;
  text-align: left;
  padding: 0.53125rem 0.5rem 0.375rem;
}
.pricing__payment-note {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  display: flex;
  align-items: flex-start;
}
.pricing__payment-note img {
  flex-shrink: 0;
  margin-right: 0.28125rem;
}

@media (max-width: 768px) {
  .pricing__card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pricing__cards {
    display: grid;
    grid-auto-rows: 1fr;
  }
  .pricing__card {
    width: 100%;
    max-width: 100%;
  }
  .pricing__feature {
    font-size: 1.325rem;
  }
  .pricing__card-title {
    font-size: 2.075rem;
  }
  .pricing__price-normal {
    font-size: 1.45rem;
  }
  .pricing__payment-info {
    font-size: 1.2rem;
  }
  .pricing__payment-note {
    font-size: 0.9rem;
  }
  .pricing__btn {
    font-size: 2rem;
  }
  .pricing__payment-options {
    flex: 1;
  }
  .pricing__kit-title,
  .pricing__kit-subtitle,
  .pricing__kit-cta {
    font-size: 1.5rem;
  }
  .pricing__kit-btn {
    font-size: 1.5rem;
  }
  .pricing__kit-desc {
    font-size: 1.25rem;
  }
}
/*================= Guarantee ==============*/
.guarantee {
  background: #f4fbf3;
  border: 0.125rem solid #82ca80;
  border-radius: 1.5625rem;
  margin-top: 7rem;
}
.guarantee__container {
  display: flex;
  justify-content: space-between;
}
.guarantee__text {
  padding: 2.625rem 1.25rem 2.625rem 3.25rem;
}
.guarantee__title {
  font-size: 3.25rem;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.guarantee__description {
  font-size: 1.125rem;
  line-height: 1.61;
  margin-top: 1.375rem;
  letter-spacing: 0;
}
.guarantee__badge {
  flex-shrink: 0;
  max-width: 42%;
}
.guarantee__badge-image {
  margin-top: -1rem;
  margin-bottom: -2rem;
  position: relative;
  right: -1.4375rem;
}
@media (max-width: 768px) {
  .guarantee__badge {
    max-width: 40%;
    margin-left: -50px;
  }
}
@media (max-width: 768px) {
  /* .guarantee__container {
    flex-direction: column;
    text-align: center;
  }

  .guarantee__badge {
    margin-top: 1.25rem;
  } */
}
@media (max-width: 500px) {
  .guarantee__title {
    font-size: 2.3rem;
  }
  .guarantee__badge {
    margin-left: -40px;
  }
}
/*================= Advantage ==============*/
.advantage {
  margin-top: 4.375rem;
}

.advantage__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 54rem;
  margin: 0 auto 3.75rem;
  text-align: center;
}

.advantage__highlight {
  color: #e55757;
  text-decoration: underline;
  text-underline-offset: 0.15em;
  text-decoration-thickness: 0.1em;
}

.advantage__description {
  margin-top: 1.25rem;
}
/*================= Software Kits Section ==============*/
.software-kits {
  margin-top: 4rem;
}

.software-kits__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 54rem;
  margin: 0 auto 3.75rem;
  text-align: center;
}

.software-kits__highlight {
  color: #e63c35;
}

.software-kits__description {
  margin-top: 1.25rem;
}

.software-kits__list {
  margin-top: 1.5rem;
  padding-left: 2.1rem;
}
.software-kits__item {
  padding-inline-start: 0.25rem;
  margin-bottom: 0.25rem;
}
.software-kits__item::marker {
  font-size: 1.25rem;
}

.software-kits__cta .cta {
  padding: 1.4rem 2.8rem 2rem;
  margin-top: 6.375rem;
}
/* ============================ Testimonials Section ====================*/
.testimonials {
  margin-top: 6.375rem;
}

.testimonials__title {
  font-size: 3.25rem;
  line-height: 1.19;
  letter-spacing: 0.02em;
  max-width: 68.75rem;
  margin: 0 auto;
  text-align: center;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 2.25rem 1.375rem;
  margin-top: 5.625rem;
}

.testimonial {
  border-radius: 0.9375rem;
  border: 0.125rem solid #82ca80;
  padding: 1.875rem 1.625rem 2.5rem;
  box-shadow: 0rem 1.875rem 3.58125rem 0rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__quote {
  font-size: 1.125rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0;
  position: relative;
}

.testimonial__quote::before {
  content: '';
  position: absolute;
  top: -3.75rem;
  left: -0.125rem;
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url('../images/fa-solid_quote-left.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.testimonial__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 3rem;
  margin-top: auto;
}

.testimonial__rating {
  display: flex;
  gap: 0.15625rem;
  margin-top: 0.1875rem;
}

@media (max-width: 768px) {
  .testimonials__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .testimonial__quote {
    font-size: 1.35rem;
  }
  .testimonial__name {
    font-size: 1.25rem;
  }
  .testimonials__grid {
    grid-template-columns: 1fr;
  }
}
/* ======================== Offer Section ======================= */
.offer {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 9rem;
}

.offer__warning {
  color: #fff;
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
  padding: 3.25rem 1rem 4.75rem;
  position: relative;
}
.offer__warning-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
  object-fit: cover;
  object-position: bottom center;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.offer__warning-title {
  font-size: 1.125rem;
  line-height: 1.61;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.offer__warning-heading {
  font-size: 2.625rem;
  line-height: 1.1;
  max-width: 43.75rem;
  margin: 0 auto;
  letter-spacing: 0.02em;
}

.offer__cta {
  font-size: 3.25rem;
  line-height: 1.19;
  display: block;
  margin-top: 0.875rem;
}
.offer__cta .green {
  color: #82ca80;
}

.offer__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2.625rem 1.875rem 3.5rem 2.5rem;
  border-radius: 0rem 0rem 1.5625rem 1.5625rem;
  border: 0.125rem solid #82ca80;
  border-top: 0;
  background: #f6fbf3;
}

.offer__content {
  flex: 0 1 55%;
  text-align: left;
}

.offer__image {
  flex: 0 1 42%;
  text-align: center;
}

.offer__image-img {
  max-width: 100%;
  height: auto;
}

.offer__text {
  font-size: 1.125rem;
  line-height: 1.61;
  letter-spacing: 0;
  margin-bottom: 0.625rem;
}
.offer__text:last-child {
  margin-bottom: 0;
}

.offer__actions {
  text-align: center;
}
.offer__actions .cta {
  margin-top: 5.5rem;
  padding: 1.4rem 2.6rem 2rem;
}

.offer__link {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45;
  display: block;
  margin-top: 3.25rem;
  transition: color 0.3s;
  text-decoration: underline;
  letter-spacing: 0;
  text-decoration-thickness: 0.06em;
  color: #000;
}
@media (max-width: 768px) {
  .offer__content {
    padding-right: 0;
    margin-bottom: 1.25rem;
  }
}
@media (max-width: 500px) {
  .offer__warning-title {
    font-size: 1.25rem;
  }
  .offer__cta {
    font-size: 3.15rem;
  }
  .offer__text {
    font-size: 1.25rem;
  }
  .offer__details {
    flex-direction: column;
    text-align: center;
  }
}

/*Global responsivity CSS */
@media (max-width: 1024px) {
  html {
    font-size: 0.75rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 0.65rem;
  }
  .main {
    padding: 0 40px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 0.4rem;
  }
  .main {
    padding: 0 20px;
  }
}
